.content{
	background-color: white;
	width: 1000px;
	margin: 0 auto;
}
.theme{
	margin-bottom: 100px;
}
 		body a{
 			color: #333;
 		}
 		body a:hover{
 			text-decoration: none;
 			color: #333;
 		}
    	.title_group{
			width: 800px;
			height: 60px;
			margin: 0 auto;
    	}
    	.title_group img{
    		width: 50px;
    		float: left;
    	}
    	.title_group p{
    		font-weight: 600;
    		float: left;
    		font-size: 2em;
    		padding: 3px 15px;
    	}
    	.summary .title_group p{
    		border: 2px solid #e7d92c;
    	}
    	.use .title_group p{
    		border: 2px solid #4ad385;
    	}
    	.help .title_group p{
    		border: 2px solid #d1c0b6;
    	}
    	/*summary*/
 		.summary .content{
 			width: 800px;
 			height: 380px;
 		}
    	.summary .text{
    		float: left;
    		width: 500px;
    	}
    	.summary .text p{
    		background-color: #b5ccc3;
    		padding: 11px 20px;
    		line-height: 25px;
    		border-left: 2px solid #4a8711;
    		color: #292a2f;
    	}
    	.summary .content img{
    		float: right;
    		height: 360px;
    	}
    	/*use*/
    	.use .content{
    		width: 800px;
    	}
    	.use .content .shouye{
    		margin-top: 20px;
    		height: 320px;
    	}
    	.use .content .shouye img{
    		height: 300px;
    		float: left;
    	}
    	.use .content .shouye p{
    		float: left;
    		height: 300px;
    		width: 170px;
    		background-color: #f7f7f7;
    		margin-left: 20px;
    		padding-top: 118px;
    		padding-left: 10px;
    	}
    	.use .content .template{
    		margin-top: 20px;
    		height: 320px;
    	}
    	.use .content .template img{
    		height: 300px;
    		float: left;
    	}
    	.use .content .template p{
    		float: left;
    		height: 300px;
    		width: 170px;
    		background-color: #f7f7f7;
    		margin-right: 20px;
    		margin-bottom: 0;
    		padding-top: 75px;
    		padding-left: 10px;
    	}
    	.use .content .dingzhi{
    		margin-top: 20px;
    		height: 320px;
    	}
    	.use .content .dingzhi img{
    		height: 300px;
    		float: left;
    	}
    	.use .content .dingzhi p{
    		float: left;
    		height: 300px;
    		width: 170px;
    		background-color: #f7f7f7;
    		margin-left: 20px;
    		padding-top: 96px;
    		padding-left: 10px;
    	}
    	.use .content .user{
    		margin-top: 20px;
    		height: 320px;
    	}
    	.use .content .user img{
    		height: 300px;
    		float: left;
    	}
    	.use .content .user p{
    		float: left;
    		height: 300px;
    		width: 170px;
    		background-color: #f7f7f7;
    		margin-right: 20px;
    		margin-bottom: 0;
    		padding-top: 118px;
    		padding-left: 10px;
    	}
    	/*help*/
    	.help{
    		margin-top: 20px;
    		height: 320px;
    	}
		.help .content{
			width: 800px;
			margin: 0 auto;
		}
    	.help .content img{
    		float: left;
    		width: 200px;
    	}
    	.help .content p{
    		margin-left: 20px;
    		float: left;
    		width: 575px;
    		padding: 100px 20px;
    		background-color: #82bdc2;
    		border-left: 6px solid #f8d9e8;
    	}